<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Visualizations of the Global Terrorism Database  </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

<!-- Header Section -->
<section class="tophead" role="tophead"> 
  <!-- Navigation Section -->
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="#">Global Terrorism</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/visual/">Visualizations</a></li>
          <li><a href="/comments/">Comments</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- Navigation Section --> 
</section>
<!-- Header Section --> 
 



<!-- portfolio grid section -->
<section id="portfolio" class="section portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 portfolio-item"> <a href="/world-map/" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>World Map</h3>
            <h4>Illustrates the Intensity of Terrorist Events</h4>
          </div>
        </div>
        <img src="{{ url_for('static', filename = 'img/example_map.png',width=300, height=200)}}" class="img-responsive" alt=""> </a> </div>
      <div class="col-md-4 col-md-offset-1 work-detail-margin detail-contentbox">
        <div class="detail-content">
          <h4>Trend plot</h4>
          <p>This is a trend plot with the time period on the x-axis and the preferred intensity measure as the y-axis. It can provide information to analyze how the intensity of terrorist event changes over years.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Trend Plot</h3>
            <h4>trend of terrorist events over years</h4>
          </div>
        </div>
        <img src="{{ url_for('static', filename = 'img/lineplot.png',width=300, height=200)}}" class="img-responsive" alt=""> </a> </div>
      <div class="col-md-4 col-md-offset-1 work-detail-margin detail-contentbox justify-content-end">
        <div class="detail-content">
          <h4>Distribution Plot</h4>
          <p>This is a line plot with the time period on the x-axis and the preferred intensity measure as the y-axis. It can provide information to analyze how the intensity of terrorist event changes over years.</p>
        </div>
      </div>
    </div>
    <div class="row">      
      <div class="col-md-7 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Distribution Plot</h3>
            <h4>more detailed information about a particular feature</h4>
          </div>
        </div>
        <img src="{{ url_for('static', filename = 'img/pie3.png',width=300, height=200)}}" class="img-responsive" alt=""> </a> </div>
      <div class="col-md-4 col-md-offset-1 work-detail-margin detail-contentbox justify-content-end">
        <div class="detail-content">
          <h4>World Map</h4>
          <p>This is a pie chart if you are interested in finding out more detailed information about an event. It shows the proportion distribution of the feature that you are interested in. These features include the attack type, weapon type, target/victim type and perpetrator type.</p>
        </div>
      </div>                
    </div>
  </div>
</section>
<!-- portfolio grid section --> 

<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/jquery.flexslider-min.js')}}"></script>
<!-- <script src="{{ url_for('static', filename = 'js/retina.min.js')}}"></script> -->
<script src="{{ url_for('static', filename = 'js/modernizr.js')}}"></script> 
<script src="{{ url_for('static', filename = 'js/main.js')}}"></script> 
</body>
</html>