<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="utf-8">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/duke_logo.ico') }}">
    </head>

    <header>
        <ul class="nav nav-pills">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/worldmap/">World Map</a></li>
            <li role="presentation"><a href="/trend/">Analysis</a></li>
            <li role="presentation" class="active"><a href="/about-us/">About Us</a></li>
            <li role="presentation"><a href="/comments/">Comments</a></li>
            <p class="navbar-text navbar-right">
                <a class="navbar-brand" href="https://github.com/hs220/Duke-CS-316">
                    <img style="max-width:30px; margin-top: -10px; margin-right: 5px" src="{{ url_for('static', filename='img/github-logo.png') }}">
                </a>
            </p>

        </ul>
    </header>
    <body>
        <h1 style = "margin-left : 10px">Team Members:<br/><br/>
            <img src="{{ url_for('static', filename='img/wordcloud.svg') }}" style = "width: 800px; height: 600 px; margin-top: 0px" align="right">
            </img>
        </h1>
        <p class="lead" style = "margin-left : 20px" > 
            <a href="https://stat.duke.edu/people/xilin-cecilia-shi">Xilin Cecilia Shi</a>
        </p>
    
        <p style = "margin-left : 30px"> Master of Statistical Science<br/>
            Email Address: 
            <a href="mailto: xilin.cecilia.shi@duke.edu">xilin.cecilia.shi@duke.edu</a>
        </p>
    
    
        <p class="lead" style = "margin-left : 20px" > 
            <a href="https://stat.duke.edu/people/hao-sheng">Hao Sheng </a>
        </p>
    
        <p style = "margin-left : 30px"> Master of Statistical Science<br/>
            Email Address: 
            <a href="mailto: hao.sheng@duke.edu">hao.sheng@duke.edu</a>
        </p>
    
        <p class="lead" style = "margin-left : 20px" > 
            <a href="https://stat.duke.edu/people/xialingzi-jin">Xialingzi Jin</a>
        </p>
    
        <p style = "margin-left : 30px"> Master of Statistical Science<br/>
            Email Address: 
            <a href="mailto: xialingzi.jin@duke.edu">xialingzi.jin@duke.edu</a>
        </p>
    
        <p class="lead" style = "margin-left : 20px" > 
            <a href="https://stat.duke.edu/people/xiaozhou-wang">Xiaozhou Wang </a>
        </p>
    
        <p style = "margin-left : 30px"> Master of Statistical Science<br/>
            Email Address: 
            <a href="mailto: xiaozhou.wang@duke.edu">xiaozhou.wang@duke.edu</a>
        </p>
    
        <p class="lead" style = "margin-left : 20px" > 
            <a href="https://stat.duke.edu/people/xingyu-yan">Xingyu Yan</a>
        </p>
    
        <p style = "margin-left : 30px"> Master of Statistical Science<br/>
            Email Address: 
            <a href="mailto: xingyu.yan@duke.edu">xingyu.yan@duke.edu</a>
        </p>
    </body>

    
</html>