<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="utf-8">
        <title>Demo Homepage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/duke_logo.ico') }}">
    </head>

    <header>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/worldmap/">World Map</a></li>
            <li role="presentation"><a href="/trend/">Analysis</a></li>
            <li role="presentation"><a href="/about-us/">About Us</a></li>
            <li role="presentation"><a href="/comments/">Comments</a></li>
            <p class="navbar-text navbar-right">
                <a class="navbar-brand" href="https://github.com/hs220/Duke-CS-316">
                    <img style="max-width:30px; margin-top: -25px; margin-right: 5px" src="{{ url_for('static', filename='img/github-logo.png') }}">
                </a>
            </p>
        </ul>
        <p><img src="{{ url_for('static', filename='img/terror.png') }}" style = "width: 1250px" align="center"></p>
    </header>

    <body>
        <div class="container-full-width">
        <div class="row text-center mb100">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">About Us</h2>
            <p>This website enables users to interact with the Global Terrorism Data and produces visualizations based on the features that the user selects. We provide visualizations of terrorist events in terms of world map, time series plot and pie chart that shows the ditribution. </p>

          </div>
        </div>
    </body>
</html>